@import '../../scss/variables.scss';

.feedback-form-container {
  position: fixed;
  bottom: 50px;
  left: 50px;
  animation: expand 0.5s ease-in-out 0.2s forwards;
  border-radius: 10px;

  .close-btn {
    animation: showcontent 2s ease-in-out;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;

    i.im {
      font-size: 0.85rem;
      cursor: pointer;
      color: $dark-grey;
    }
  }

  .page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 100%;

    h2 {
      font-size: 1.2rem;
      font-weight: 700;
      color: $dark-grey;
      margin-bottom: 15px;
      opacity: 0;
      animation: slideDown 0.3s ease-in-out 0.6s forwards;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      li {
        border: 2px solid $dark-grey;
        color: $dark-grey;
        width: 48px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: 600;

        &:not(:last-child) {
          border-right: none;
        }

        &:first-child {
          border-top-left-radius: 9px;
          border-bottom-left-radius: 9px;
        }

        &:last-child {
          border-top-right-radius: 9px;
          border-bottom-right-radius: 9px;
        }

        transition: 0.3s;

        &:hover {
          background: $white;
          transition: 0.3s;
        }
      }
      opacity: 0;
      animation: slideDown 0.3s ease-in-out 0.7s forwards;
    }

    .footer {
      display: flex;
      justify-content: space-around;
      .text {
        font-size: 0.85rem;
        color: $dark-grey;
        text-transform: uppercase;
      }
      opacity: 0;
      animation: slideDown 0.3s ease-in-out 0.8s forwards;
    }

    .thanks-section {
      opacity: 0;
      animation: slideDown 0.3s ease-in-out 0.2s forwards;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;

      div.text {
        padding-left: 15px;
        font-size: 1.1rem;
        font-weight: 700;
        color: $dark-grey;
        opacity: 0.8;
        line-height: 1.7;
      }

      .image-holder {
        border: 5px solid $dark-grey;
        background: $yellow;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80%;
        }
      }
    }
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      position: relative;
      top: -20px;
    }
    to {
      opacity: 1;
      position: relative;
      top: 0px;
    }
  }

  @keyframes showcontent {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes expand {
    0% {
      height: 50px;
      width: 170px;
      background: $dark-grey;
    }

    50% {
      height: 50px;
      width: 470px;
    }

    100% {
      height: 170px;
      width: 420px;
      background: $bg-white;
    }
  }
}
